.align-icons {
    padding: 5px;
}

.item-icons {
    height: 20px;
    width: 20px;
    fill: white;
    opacity: 0.6;

}

.item-icons:hover {
    opacity: 1;
}

.item-container {
    background-color: rgb(46, 45, 45);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    
}

.item-theme-container:hover {
    background-color: rgb(28, 28, 28);
}

.item-theme-container:hover * {
    background-color: rgb(28, 28, 28);
}

.item-theme-container {
    background-color: rgb(46, 45, 45);
}

.item-completion * {
    background-color: rgb(2, 209, 2);
}

.item-completion {
    background-color: rgb(2, 209, 2);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

